<!DOCTYPE html>
<html>
<head>
  <title>Error!</title>
</head>
<body style= "font-size:20px; padding:50px; background-color:#9fd3c7;">

  <h1>Sorry, invalid short/long URL. Please try again 🤪</h1>
  <a href="/urls/new">Try again!</a>
</body>
</html>