<% include ./partials/_header %>

<body style="font-size:20px; padding:50px;">

    <form method="POST" action="/register">
      <input class="form-control" type="email" name="email" placeholder="Enter Email Address" style="width: 300px; margin: 1em">
      <input class="form-control" type="password" name="email" placeholder="Enter Password" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</body>
