<% include ./partials/_header %>

<body style="font-size:20px; padding:50px;">

<% if (urls) { %>
  <% for (let key in urls) { %>
<!--       if (urls[key].userID === user.userID) {-->
      <li> <strong><%=key%></strong>: <%= urls[key].longURL %></li>
      <form method="POST" action="/urls/<%= key %>/delete">
        <button type="submit" class="btn btn-dark">Delete</button>
      </form>
      <form method="GET" action="/urls/<%= key %>">
        <button type="submit" class="btn btn-dark">Edit</button>
      </form>
  <% } %>
<% } %>
<!-- } -->
</body>

</html>



