<% include ./partials/_header %>



<body style="font-size:20px; padding:50px; background-color:#9fd3c7;">

<% if (urls) { %>
  <% for (let key in urls) { %>
      <form method="POST" action="/urls/<%= key %>/delete">
        <button type="submit" class="btn btn-dark float-left mr-2">Delete</button>
      </form>

      <form method="GET" action="/urls/<%= key %>">
        <button type="submit" class="btn btn-dark float-left mr-2">Edit</button>
      </form>
      <li><strong><%=key%></strong>: <%= urls[key].longURL %></li>
      <br><br>
  <% } %>
<% } %>

</body>

</html>



